{% macro render_field(field) %}
<dt>{{ field.label }}
<dd>{{ field(**kwargs)|safe }}
    {% if field.errors %}
    <ul class=errors>
        {% for error in field.errors %}
        <li><span style='color:red;'>{{ error }}</span></li>
        {% endfor %}
    </ul>
    {% endif %}
</dd>
{% endmacro %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Flasko</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"></link>
</head>
<body>
    <div class="container-fluid">
        <h1>Hi,man.</h1>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-info">{{ message }}</div>
            {% endfor %}
        {% endif %}
        {% endwith %}
        <form method="POST" action="{{ url_for('.index') }}">
            {{ form.csrf_token }}
            <dl>
                {{ render_field(form.name) }}
                {{ render_field(form.number) }}
                {{ render_field(form.date, type="date") }}
            </dl>
            <p><input type="submit" value="Register">
        </form>
        {% if answer %}
        <table class="table">
            <tr>
                <th></th>
                <td></td>
            </tr>
        </table>
        {% endif %}
    </div>
</body>
</html>
